<h1><%= link_to @subject.name, edit_subject_path(@subject) %></h1>

<h3> Related questions </h3>

<ol>
<% @subject.questions.each do |question| %>
  <li>
  	<%= question.content %><br>
  	<h6>
  	  Type: 
  	  <%= getTypeName(question.question_type) %>
  	  <%= link_to "edit", edit_question_path(question) %>
  	  <%= link_to "delete", question, method: :delete, data: {confirm: "You sure?"} %>
  	</h6>
  </li>
<% end %>
</ol>