<h1>New exam format</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for @exam do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      Subject:
      <%= f.collection_select :subject_id, Subject.all, :id, :name %>
      Name:
      <%= f.text_field :name %>
      Duration (minutes):
      <%= f.text_field :duration %>
      <%= f.submit "Create", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>